li a {
    color: white;
}
body {
    background: white url("images/bastien-grivet-thebigone-bastiengrivet.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul li {
    list-style-type: none;
    position: relative;  
}

ul li::before {
    content: "⛵ ";     
    position: absolute;
    left: -25px;          
    color: green;         
}